/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: "AbhayaLibre";
  src: url("./AbhayaLibre-Regular.ttf");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("./Alegreya-Regular.otf");
  font-weight: normal;
  font-size: normal;
}

html {
  font-size: 10px;
  font-family: Alegreya, serif;
}
h1,
h2,
h3 {
  font-family: AbyayaLibre;
  letter-spacing: 1px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.8rem;
}
nav,
ul,
ol {
  font-size: 1.6rem;
}
body {
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
section h2 + p {
  text-indent: 20px;
}
a {
  text-decoration: none;
  border-bottom: 1px solid;
  outline: none;
  color: #a66;
}
a:visited,
a:focus,
a:hover {
  color: #a66;
}

a:hover,
a:focus {
  border-bottom: none;
}
a[href^="https"] {
  padding-right: 19px;
  background: url("./external-link-52.png") no-repeat 100% top;
  background-size: 15px;
}
a:active {
  color: white;
  background-color: #a66;
}
li {
  line-height: 1.5;
}
ul {
  list-style-type: circle;
}
nav {
  margin-top: 24px;
}
nav ul {
  list-style-type: none;
}
nav ul a {
  line-height: 3;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid;
  width: 100%;
  margin-bottom: 10px;
}
